*{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width:100%;
    background-color: bisque;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
nav a{
    text-decoration: none; 
}
img{
    height: 100px;
}
#img_container{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px solid black;
    
}
.box{
    text-align: center;
    justify-content: center;
    border:2px solid black;
    width: 100px;
    height: 50px;
    background-color: red;
    flex-shrink: 0;
    flex-grow: 0;
}
#box_container{
    width: 500px;
    height: 100px;
    display:flex;
    border:2px solid blue;
    background-color: lightblue;
}
#box3{
    flex-shrink: 1;
    flex-grow:1;
}
#id1{
    width: 50px;
    height: 50px;
    background-color: green;
}
@media screen and (min-width: 300px){
    #id1{
        background-color: green;
    }
}
@media screen and (min-width: 300px)and (max-width: 400px){
    #id1{
        background-color: red;
    }
}
@media screen and (min-width: 400px){
    #id1{
        background-color: blue;
    }
}